{{login-form}}
<div class="row">
	<div>
		{{#md-card id="image-card"}}
			<h5>Login</h5>
			{{#if msgProp.msg}}
				{{#md-card-panel class=(readonly msgProp.color)
				bodyClass="white-text"
				id="card-panel"}}
					{{msgProp.msg}}
				{{/md-card-panel}}	
			{{/if}}
			{{#if sendingMessage}}
				{{md-loader id='spinner' mode="circular"}}	
			{{else}}
				{{md-input label='Email' type="email" class="col s12" validate=true value=email}}
			{{md-input label='Password' type="password" class="col s12" validate=true value=password}}
			<div class=''>
				{{md-btn-submit class='indigo'
					id='login'
					action='login'
					text='Login'}}
				{{#link-to 'password-reset' }}Forgot Password?{{/link-to}}
			</div>
			{{/if}}
		{{/md-card}}
	</div>
</div>

