<h1>Posts</h1>
<button {{action 'first'}}>first</button>
<button {{action 'second'}}>second</button>
<button {{action 'third'}}>third</button>
{{liquid-outlet "first"}}
{{liquid-outlet "second"}}
{{liquid-outlet "third"}}
{{#animated-content}}
{{/animated-content}}
