<h1>Index</h1>
<ul>
	{{#each model as |<%= @model %>|}}
		<li>
			<%= @args.fields(@model) %>
			{{#link-to '<%= @model.pluralize %>.show' <%= @model %>}}Show{{/link-to}}
			{{#link-to '<%= @model.pluralize %>.edit' <%= @model %>}}Edit{{/link-to}}
			<button {{action 'delete<%= @model.camelize %>' <%= @model %>.id}}>delete</button>
		</li>
	{{/each}}
</ul>
{{#link-to '<%= @model.pluralize %>.create'}}Create{{/link-to}}
