<a id={{concat 'md-carousel-item-' id}} class='md-carousel-item' 
	 style={{ escapeCSS style }}
	 {{action "_click"}}>
	<div class='loading-image' style={{escapeCSS displayState}}>
		{{md-loader mode="circular"}}
	</div>
	<div class='image-holder'>
	</div>
</a>
