<div class="row">
	<div>
		{{#md-card id="image-card"}}
			<h5>Sign Up</h5>
			{{#if msgProp.msg}}
				{{#md-card-panel class=(readonly msgProp.color)
				bodyClass="white-text"
				id="card-panel"}}
					{{msgProp.msg}}
				{{/md-card-panel}}	
			{{/if}}
			{{#if sendingMessage}}
				{{md-loader mode="circular"}}	
			{{else}}	
				{{md-input label='Name' type="text" class="col s12" value=model.name validate=true}}
				{{md-input label='Email' type="email" class="col s12" value=model.email validate=true}}
				{{md-input label='User Name' type="text" class="col s12" value=model.username validate=true}}
				{{md-input label='Password' type="password" class="col s12" value=model.password validate=true}}
				{{md-input label='Password Confirmation' type="password" class="col s12" value=model.passwordConfirmation validate=true}}
				<div class=''>
					{{md-btn-submit class='indigo'
						action='signup'
						text='Sign Up'}}
				</div>
			{{/if}}
		{{/md-card}}
	</div>
</div>

