<h5>Login</h5>
{{#if loading}}
	{{md-loader id='spinner' mode='circular'}}
{{else}}
	{{#if error}}
		{{#md-card-panel class="red"
			bodyClass="white-text"
			}}
			<p>
				{{error}}
			</p>
		{{/md-card-panel}}
	{{/if}}
	{{input label='Email' type="email" value=email}}
	{{input label='Password' type="password" validate=true value=password}}
	<button class='blue' {{action 'login'}}>Login</button>
	{{#link-to 'password-reset' }}Forgot Password?{{/link-to}}
{{/if}}
