<div class='container'>
	<h3>Login</h3>
	{{#if logging}}
		{{md-loader id='spinner' mode='circular'}}
	{{else}}	
		{{#if errors}}
			{{#md-card-panel class="red"
					bodyClass="white-text"
					}}
				{{#each errors as |error|}}
					<p>
						{{error}}
					</p>
				{{/each}}
			{{/md-card-panel}}
		{{/if}}
		<form {{action 'login'  on='submit'}}>
			{{md-input 
				data-autoId='email'
				value=email
				label='Email' class="col s12" }}
			{{md-input 
				data-autoId='password'
				value=password
				type='password'
				label='Senha' class="col s12" }}
			{{md-btn-submit
					class='indigo'
					type='submit'
					text='Entrar'}}
			{{#link-to 'password-reset' }}Forgot Password?{{/link-to}}
		</form>
	{{/if}}
</div>
