<div class="row">
	<div>
		{{#md-card}}
			<div class='icon-text'>
			 <i class='material-icons left'>account_box</i>Sign Up</div>
			{{#if signingup}}
				{{md-loader mode="circular"}}	
			{{else}}	
				{{#if showErrors}}
					{{#md-card-panel class="red"
					bodyClass="white-text"}}
						{{#each errors as |error|}}
							<p>{{error}}</p>
						{{/each}}
						{{#each validations.messages as |error|}}
							<p>{{error}}</p>
						{{/each}}
					{{/md-card-panel}}	
				{{/if}}
				{{#if msgs}}
					{{#md-card-panel class="green"
					bodyClass="white-text"
					}}
						{{#each msgs as |msg|}}
							<p>{{msg}}</p>
						{{/each}}
					{{/md-card-panel}}
				{{/if}}
				{{md-input value=model.name type='text'
					data-autoId='name' label="Name"
					icon="perm_identity light-blue-text"
					class="col s12" validate=true}}
				{{md-input value=model.email type='text'
					data-autoId='email' label="E-mail"
					icon="email light-blue-text"
					class="col s12" validate=true}}
				{{md-input value=model.username type='text'
					data-autoId='username' label="User Name"
					icon="perm_identity light-blue-text"
					class="col s12" validate=true}}
				{{md-input value=model.password type='password'
					data-autoId='password' label="Password"
					icon="vpn_key light-blue-text"
					class="col s12" validate=true}}
				{{md-input value=model.passwordConfirmation type='password'
					data-autoId='passwordConfirmation' label="Password Confirmation"
					icon="vpn_key light-blue-text"
					class="col s12" validate=true}}
				<a class="waves-effect waves-light btn blue" 
				 {{action 'signup'}} 
				 type='submit'>
				 <i class="material-icons left">input</i>Sign Up</a>
			{{/if}}
		{{/md-card}}
	</div>
</div>
