{{#if modalIsOpen}}
	{{#md-modal close='closeModal' class="test-modal"}}
		<div class="modal-content">
			<h4>Delete Todo!</h4>
			<p>Are you sure you wanna delete this todo?</p>
    </div>
    <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
        Yes
      </a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
				Cancel
      </a>
    </div>
	{{/md-modal}}
{{/if}}
{{#md-card class='height-3'}}
	{{md-input value=search label='Search' class="col s12" validate=true}}
	{{#if loading}}
		{{md-loader mode="circular"}}	
	{{else}}
		{{#link-to 'users.user.todos.new'}}New{{/link-to}}
			{{#md-collection content=items as |item|}}
				<div id='item' class='collection-item'>
					{{#link-to 'users.user.todos.todo' item}}{{item.title}}{{/link-to}}
					<div class='secondary-content'>
						{{#link-to 'users.user.todos.todo.edit' item}}Edit{{/link-to}}
						<a id='delete' {{action 'delete' item}}>Delete</a>
					</div>
				</div>
			{{/md-collection}}
			{{md-pagination min=1 max=items.meta.pagination.last.number
				current=page range=5}}
	{{/if}}
{{/md-card}}
